
<div class="sunset-sunrise" style="background-image: url('assets/sunset_sunrise.jpg'); background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;">
    
    <h1 style="color: white; margin: 20px; margin-bottom: 0px;">{{sunriseSunset.sunset | date: 'shortTime':'':'pl' }}
        <span style="font-size: 15px; ">{{sunriseSunset.sunset |  date:'ss' }} s</span>
    </h1>
    
        <h3 style="color: white; margin: 20px; margin-top: 10px;">Zachód słońca</h3>
</div>

